<h1>Este es Multer</h1>

<div class="upload">
  <form action="/upload" method="POST" enctype="multipart/form-data">
    Select image to upload:
    <div class="uploadContainer">
      <input type="file" name="image" />

    </div>
    <div class="uploadContainer">
      <input type="tex" name="title" placeholder="Titulo de la imagen" />

    </div>
    <div class="uploadContainer">
      <input type="text" name="desciption" placeholder="Descipcion" />

    </div>
    <div class="uploadContainer">
      <button>Upload Image</button>

    </div>
  </form>
</div>