<h1>Real-Time Products</h1>


<div id="contenedorProductos"></div>
<h2 class="div-form">FORMULARIO PARA AGREGAR PRODUCTOS</h2>

<div class="div-form">

  <form>
    <input type="text" id="title" placeholder="Titulo" />
    <input type="text" id="description" placeholder="Descripción" />
    <input type="number" id="price" placeholder="Precio" />
    <input type="text" id="thumbnail" value="Sin Imagen" />
    <input type="text" id="code" placeholder="Código" />
    <input type="number" id="stock" placeholder="Stock" />
    <input type="text" id="category" placeholder="Categoria" />
    <select id="status">
      <option value="true">Activo</option>
      <option value="false">Inactivo</option>
    </select>
    <button type="button" id="btnEnviar">Enviar</button>
  </form>

</div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"
></script>
<script src="js/index.js"></script>