body {
  background-color: rgb(228, 216, 216);
}

h1 {
  color: rgb(185, 185, 219);
  background-color: rgb(3, 3, 3);
  text-align: center;
  border-radius: 5%;
}

p {
  align-items: center;
  color: rgb(19, 18, 18);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container img {
  width: 200px;
  border-radius: 30%;
}

/* Estilos base para la tarjeta */
.card {
  display: inline-block;
  font-family: Arial, sans-serif;
  padding: 1em;
  max-width: 250px; /* Ajusta el ancho máximo según tus necesidades */
  margin: 20px 20px 20px 50px;
  border: 1px solid #161515;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  box-sizing: border-box; /* Asegura que el ancho incluya el padding y el borde */
}

/* Estilo para la imagen de la tarjeta */
.card img {
  width: 100%;
  height: auto;
}

/* Estilos adicionales al pasar el mouse sobre la tarjeta (opcional) */
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Media query para hacer la tarjeta responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Cambia a una disposición de columna en pantallas más pequeñas */
  }

  .card {
    flex: 100%; /* Hace que las tarjetas ocupen el 100% del ancho en pantallas pequeñas */
  }
}

/* formulario */

.div-form {
  display: flex;
  justify-content: center;
}
form {
  max-width: 300px;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

form img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

input,
select,
button {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
}

.padding-button {
  padding: 1rem;
}

.color-button {
  background-color: #161515;
}
button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
