body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(228, 216, 216);
  background-image: url("https://res.cloudinary.com/dheurnsr0/image/upload/v1705343819/CI7GA76FD5GVPMHC354LEZK3X4_dlunvs.jpg");
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  color: rgb(185, 185, 219);
  background-color: rgb(3, 3, 3);
  text-align: center;
  border-radius: 5%;
}

p {
  align-items: center;
  color: rgb(253, 250, 250);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container img {
  width: 200px;
  border-radius: 30%;
}

/* Estilos base para la tarjeta */
.card {
  display: inline-block;
  background-color: rgb(1, 8, 8);
  font-family: Arial, sans-serif;
  padding: 1em;
  max-width: 250px; /* Ajusta el ancho máximo según tus necesidades */
  margin: 20px 20px 20px 50px;
  border: 1px solid #161515;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  box-sizing: border-box; /* Asegura que el ancho incluya el padding y el borde */
}

/* Estilo para la imagen de la tarjeta */
.card img {
  width: 100%;
  height: auto;
}

/* Estilos adicionales al pasar el mouse sobre la tarjeta (opcional) */
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Media query para hacer la tarjeta responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Cambia a una disposición de columna en pantallas más pequeñas */
  }

  .card {
    flex: 100%; /* Hace que las tarjetas ocupen el 100% del ancho en pantallas pequeñas */
  }
}

/* formulario */

.div-form {
  display: flex;
  justify-content: center;
  color: #ffffff;
}
form {
  max-width: 300px;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

form img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

input,
select {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
}

.padding-button {
  padding: 1rem;
  display: grid;
  place-items: center;
}

.color-button {
  background-image: url("https://res.cloudinary.com/dheurnsr0/image/upload/v1705343819/CI7GA76FD5GVPMHC354LEZK3X4_dlunvs.jpg");
  height: 10vh;
}
div button {
  background-color: #1c1e22;
}

button {
  justify-content: center;
  color: white;
  border: none;
  background-color: #4caf50;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2964d3;
}

/* Upload */

.upload {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vw;
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 6px;
  background-color: rgb(85, 104, 104);
}

.upload input {
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 6px;
}

.upload button {
  background-color: #183977;
  color: white;
  cursor: pointer;
}

.upload button:hover {
  background-color: #010a01;
}

/* header */
/* Estilos del encabezado */
header {
  background-image: url("https://res.cloudinary.com/dheurnsr0/image/upload/v1705343819/CI7GA76FD5GVPMHC354LEZK3X4_dlunvs.jpg");
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 50px;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #695d30; /* Cambia el color al pasar el ratón sobre el enlace */
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
  nav {
    display: none; /* Oculta la barra de navegación en pantallas más pequeñas */
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #333;
  }

  nav.show {
    display: flex; /* Muestra la barra de navegación cuando se hace clic en el icono del menú */
  }

  nav ul {
    flex-direction: column;
    text-align: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  /* Icono del menú desplegable */
  header:before {
    content: "\2630"; /* Código del carácter Unicode para el icono del menú */
    font-size: 25px;
    cursor: pointer;
    display: none;
  }
}
