<header>
  <a href="/" class="logo">
    <img
      src="https://res.cloudinary.com/dheurnsr0/image/upload/v1701221794/IMG_1172_nyrqq4.jpg"
      alt=""
    />
  </a>

  <nav>
    <ul>
      <li><a href="/upload">Upload</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/realtimeproducts">Real Time Products</a></li>
      <li><a href="/chat">Chat</a></li>
      <li><a href="/multer">Multer Formulario</a></li>
    </ul>
  </nav>
</header>